<div class="container">
  {% render 'custom-reviews', product: product %}
</div>

{% schema %}
{
  "name": "Custom Reviews",
  "settings": [],
  "presets": [
    {
      "name": "Custom Reviews",
      "category": "Product"
    }
  ]
}
{% endschema %}
